
#genreError{
    color: #ffe6e6;
    font-family: "Times New Roman";
    font-size: 16px;
    margin-left: 500px;
}
span{
    color: #ffe6e6;
    font-family: "Times New Roman";
    font-size: 16px;
}
#form{
    margin-top: 100px;
}
.validateBtn{
    margin-top: 360px;
    margin-left: 600px;
    margin-bottom: 60px;
    width: 250px;
    height: 51px;
    font-size: 17px;
    font-family: "Times New Roman";
    background-color: #110c08;
    color: #ffe6e6;
    border: 2px #110c08;
    position: absolute;
}
.validateBtn:hover,.button:hover,.add:hover{
    color:#99958C;
}
.add:hover
{
    cursor: pointer;
    background-color: #360581;
}
input.line,input.req {
    width: 500px;
    height: 30px;
    font-size: 20px;
    background-color: #110c08;
    margin-left: 500px;
    color: #ffe6e6;
    font-family: "Times New Roman";
    font-size: 16px;
}
.showAuthor{
    color: #ffe6e6;
    font-family: "Times New Roman";
    background-color: #231910;
    font-size: 15px;
    margin-left: 500px;
    border: #231910;
    height: 35px;
    width: 160px;
}
label{
    color: #ffe6e6;
    font-family: "Times New Roman";
    font-size: 17px;
    background-color: #231910;
}
.button{
    width: 150px;
    height: 31px;
    font-size: 17px;
    font-family: "Times New Roman";
    background-color: #110c08;
    color: #ffe6e6;
    border: 2px #110c08;
    margin-top: 10px;
    margin-left:500px;
}
.add{
    width: 150px;
    height: 31px;
    font-size: 17px;
    font-family: "Times New Roman";
    background-color: #110c08;
    color: #ffe6e6;
    border: 2px #110c08;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:500px;
}
body {
    background-color:#231910;
}
#file{
    font-size: 17px;
    font-family: "Times New Roman";
    background-color: #231910;
    color: #ffe6e6;
    border: 2px #231910;
    margin-left: 500px;
}

#path{
    font-size: 17px;
    font-family: "Times New Roman";
    background-color: #231910;
    color: #ffe6e6;
    border: 2px #110c08;
    margin-left: 500px;
}

.genre  {
    margin-left: 500px;
    font-size: 14px;
    font-family: "Times New Roman";
    color: #ffe6e6;
}
.genreNew{
    margin-left: 60px;
    font-size: 14px;
    font-family: "Times New Roman";
    color: #ffe6e6;
}

h3.s {
    color: #ffe6e6;
    font-size: 20px;
    margin-left: 500px;
}
.image{
    width: 40px;
    height:40px;
    border:0px;
    margin-top:60px;
    position: absolute;
}
input.author {
    width: 500px;
    height: 30px;
    font-size: 20px;
    background-color: #333333;
    margin-left: 500px;
    border: 0px;
    font-color: #ffe6e6;
}